<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
<th:block th:with="pageName='Access Denied'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>

	<!-- <head th:replace="fragments/default/header :: default-header-fragment(title='Access Denied')"> </head> -->
	
	<body>
		<div class="ui container text-center" style="margin-top: 50px">			<h1>Access denied</h1>
    		
    		<p><a style="color: #086a81" th:href="@{/}">Back to Homepage</a></p>
    		<img th:src="@{/assets/images/access-denied-white.png}" alt="..." style="max-width: 20rem;" class="img-fluid">
    		
		</div>
		
		<!-- <div th:replace="fragments/footer :: footer "></div> -->
		
		<!-- <div th:replace="fragments/default/footer :: footer-fragment"> </div> -->
	</body>
	
</html>