<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="pageName='Forum'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>
<body>
	<div class="page">
	
		<!-- Top Navigation Bar -->
		<th:block th:replace="fragments/header :: top-navigation "></th:block>
		
		<div class="page-content d-flex align-items-stretch">
			<!-- Sidebar -->
			<th:block th:replace="fragments/header :: sidebar "></th:block>
			
			<div class="content-inner">
				<!-- Page Header -->
				<th:block th:replace="fragments/header :: pageHeader (pageName=${pageName})"></th:block>
				
				<div class="container-fluid mb-4">
	             
				<div id="addForum" class="card card-body mb-3">
					<div class="form-group text-center" style="cursor:pointer" data-toggle="collapse" href="#collapseForum" role="button" aria-expanded="false" aria-controls="collapseForum">
					  <span class="col-12"><label class="form-label">  Curios about something? Just ask here! </label></span>
			          <span class="iconForum">
		                <i class="fa fa-comment-o"></i>
		              </span>
					</div>
			    </div> 
					    
	             <div class="collapse col-12 p-0" id="collapseForum">
				   <form id="editForum-form" class="card-body p-0" th:method="post" th:action="@{/forum/new}" name="newForumForm" >
		              <div class="card card-body">
						 <div class="form-group">
			               	  <label class="form-label">Topic</label>
							  <input class="form-control" th:field="${Forum.forumTitle}"></input>
			             </div>  
			             <div class="form-group">
			               <div class="input-group">
			                 <textarea type="text" placeholder="Message" class="form-control" th:field="${Forum.forumQuestion}"></textarea>
			                 <div class="input-group-append">
			                   <button type="button" th:if="${Forum.seqId == null}" class="createForum btn btn-outline-secondary"><i class="fa fa-send"></i></button>
			                 </div>
			               </div>
						 </div> <!-- form-group -->
					     <div class="form-group">
			               <div class="col-12 p-0 text-right">
			                 <button type="button" data-toggle="collapse" href="#collapseForum" aria-expanded="false" aria-controls="collapseForum" class="iconForum2 btn btn-secondary">Cancel</button>
			               </div>
			             </div>
					</div> <!-- card card-body -->
				 </form>
			   </div> <!-- collapse -->
						
						
	             <div th:each="forum, stat : ${forum}">
	              <!-- Project-->
	              <div class="project editForum" th:attr="data-id=${forum.seqId}">
	                <div class="row bg-white has-shadow" style="cursor:pointer">
	                  <div class="left-col col-lg-10 d-flex align-items-center justify-content-between">
	                    <p class="indexForum" th:text="${forum.seqId}" hidden="true"></p>
	                    <div class="project-title d-flex align-items-center">
	                      <div class="fa fa-question-circle m-3"></div>
	                      <!-- <div class="image has-shadow"><img src="/assets/images/7.jpg" alt="..." class="img-fluid"></div> -->
	                      <div class="text">
	                        <h3 class="h6" th:text="${forum.forumTitle}"></h3>
	                      </div>
	                    </div>
	                    <div class="project-date"><small>
	                    	<!-- <span class="hidden-sm-down" th:text="${#session.getAttribute('username')}">at</span> -->
	                    	<span class="hidden-sm-down" th:text="${#dates.format(forum.createdDt, 'dd/MM/yyyy hh:mm a')}"></span></small>
	                     </div>
	                  </div>
	                  <div class="right-col col-lg-2 d-flex align-items-center">
	                    <!-- <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div> -->
	                    <div class="comments col-12 m-0"><span th:text="${forum.replies}" class="mr-2"></span>    <!-- <span class="mr-2">replies</span> -->
	                      <i class="fa fa-comment-o"></i>
	                    </div>
	                    <div class="project-progress">
	                      <!-- <div class="progress">
	                        <div role="progressbar" style="width: 10%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
	                      </div> -->
	                    </div>
	                  </div>
	                </div>
	              </div>
	             </div> <!-- th:each forum -->     
	                  
	              
	            </div> <!-- container-fluid -->
				
				<div th:replace="fragments/footer :: footer "></div>
			</div>
		</div>
	</div>
	
	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
	
	<script>
	 $(document).ready(function ($) {
	 
		/* $("body").on("click", ".iconForum", function() {
			$("#collapseCurious").attr("hidden", true);
		}); */
	 	function reloadPage(){
        	location.reload(true);
    	}
	 	$("body").on("click", ".createForum", function() {
        	var title = $("#title").val();
			var url = "/forum/new";
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=newForumForm]").serialize(),

			            success: function(res) {
							$('#forum').html(res);
							reloadPage();
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					document.getElementById('forum').style.paddingRight = '0px';
		});
		
		$('.editForum').click(function(){
			 $tr = $(this).attr("data-id");
			 var id2 = $('.indexForum').val();
			 var id = $tr;
			 $form = $("<form></form>");
			 $form.attr("action" , "/forum/"+id),
			 $form.attr("method", "GET");
			 $('body').append($form);
			 $form.submit();
	  	});
	 });
	</script>
</body>
</th:block>
</html>