<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="pageName=${forum.seqId != null} ? 'View Forum' : 'New Forum'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>
<body id="forum">
	<div class="page">
	
		<!-- Top Navigation Bar -->
		<th:block th:replace="fragments/header :: top-navigation "></th:block>
		
		<div class="page-content d-flex align-items-stretch">
			<!-- Sidebar -->
			<th:block th:replace="fragments/header :: sidebar "></th:block>
			
			<div class="content-inner">
				<!-- Page Header -->
				<th:block th:replace="fragments/header :: pageHeader (pageName=${pageName})"></th:block>

				<section th:object="${forum}">
		            <div class="container-fluid mb-4">
		                <div class="card col-12 p-0">
		                	<div class="card-header d-flex align-items-center">
		                		<h3 class="h5 col-8 p-0">Forum #<span th:text="*{seqId}"></span></h3>
		                		<div class="col-4 p-0 text-right">
		                			<span class="iconComment" style="cursor:pointer" data-toggle="collapse" href="#collapseReply" role="button" aria-expanded="false" aria-controls="collapseReply">
		                				<i class=" fa fa-comment-o"></i>
		                			</span>
		                			<button type="button" class="back btn btn-secondary ml-2">Back</button>
		                		</div>
		                	</div>
		                	
		                	<div class="card-body">
			                  <div class="form-group row">
			                    <strong><label id="title" class="col-12 form-label" th:text="${forum.forumTitle}" style="font-size:15px"></label></strong> 
			                  </div>
			                  <div class="form-group row fullDescArea">
			                    <label class="col-12 form-label" th:text="*{forumQuestion}" style="font-size:15px"></label>
			                  </div>
			                  <div class="form-group row">
			                    <small class="col-12 text-right text-muted">
			                    	<span class="hidden-sm-down" th:text="${forum.replies}">replies | asked by</span>
			                        <span class="hidden-sm-down">replies | asked by</span>
									<span class="hidden-sm-down" th:text="${user.username}"></span>
			                    	<span class="hidden-sm-down">at</span>
			                    	<span class="hidden-sm-down" th:text="${#dates.format(forum.createdDt, 'dd/MM/yyyy hh:mm a')}"></span>
			                    </small>
			                  </div>
			                </div>
									              
		                </div> <!-- card -->
		                
		                
		                <div id="firstToComment" class="iconComment card card-body" th:if="${forum.replies} == 0">
						  <div class="form-group text-center" style="cursor:pointer" data-toggle="collapse" href="#collapseReply" role="button" aria-expanded="false" aria-controls="collapseReply">
						    <span class="col-12"><label class="form-label"> Be the first to comment! </label></span>
			                <span>
		                	  <i class="fa fa-comment-o"></i>
		                    </span>
					      </div>
					    </div>
					    
					    <div class="collapse col-12 p-0" id="collapseReply">
						  <form id="editReply-form" class="card-body p-0" th:method="post" th:action="@{/forum/rep/new-}+${forum.seqId}" name="editReplyForm" >
						    <div id="forumId" th:attr="data-id=${forum.seqId}" th:text="${forum.seqId}" hidden="true"></div>
		                	<div class="card card-body">
						      <div class="form-group">
								<span>
									<label class="form-label">Comment as</label>
									<label class="form-label" th:text="${#session.getAttribute('username')}"></label>
								</span>
			                    <!-- <span class="col-12">
			                      <textarea type="text" placeholder="New Reply" class="form-control" th:field="${reply.forumReply}"></textarea> 
			                    </span> -->
			                    <div class="input-group">
			                        <input type="text" placeholder="Message" class="form-control" th:field="${reply.forumReply}">
			                        <div class="input-group-append">
			                          <button type="button" th:if="${reply.seqId == null}" class="newReply btn btn-outline-secondary"><i class="fa fa-send"></i></button>
			                        </div>
			                    </div>
							  </div>
							  <div class="form-group">
			                    <div class="col-12 p-0 text-right">
			                      <button type="button" data-toggle="collapse" href="#collapseReply" aria-expanded="false" aria-controls="collapseReply" class="iconComment btn btn-secondary">Cancel</button>
	  							  <!-- <button type="button" th:if="${reply.seqId == null}" class="newReply btn btn-primary">Submit</button> -->
			                    </div>
			                  </div>
						    </div>
						  </form>
						</div> <!-- collapse -->
				
				    <div class="card col-12 p-0" th:if="${forum.replies} != 0">
					  <div class="card-header d-flex align-items-center">
		              	<h3 class="h5 col-8 p-0">Comments (<span th:text="${forum.replies}"></span>)</h3>
		              </div>  
						<div class="col-12 p-0 small" th:each="replies, stat : ${replies}">
			              <div class="project" th:attr="data-id=${replies.seqId}">
			                <div class="row card card-body card-link has-shadow">
			                  <div class="form-group row col-sm-12 m-0 p-0 col-lg-12 d-flex align-items-center justify-content-between" style="border-right:none">
			                    <p class="indexReplies" th:text="${replies.seqId}" hidden="true"></p>
			                    <div class="col-sm-12 project-title d-flex align-items-center"  style="border-right:none">
			                      <div class="image has-shadow"><img src="/assets/images/7.jpg" alt="..." class="img-fluid"></div> 
			                      <div>
			                        <span>
										<label class="form-label" th:text="${replies.authorName}"></label> 
										<label class="form-label">commented:</label>
									</span>&nbsp;
			                        <span th:text="${replies.forumReply}"></span>
			                      </div>
			                    </div>
			                    <hr/>
			                    <div class="form-group project-date col-sm-12 text-right"  style="border-right:none"><small>
			                    	<span class="hidden-sm-down" th:text="${#dates.format(replies.createdDt, 'dd/MM/yyyy hh:mm a')}"></span></small>
			                    </div>
			                  </div>
			                </div>
			              </div>
			             </div> <!-- th:each replies -->  						 
					  </div> <!-- card -->
					
					  
		            </div> <!-- container-fluid -->
          		</section> 
				
				<div th:replace="fragments/footer :: footer "></div>
			</div> <!-- content-inner -->
		</div> <!-- page-content -->
	</div> <!-- page -->
	
	
	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
	<!-- Dropzone.js -->
	<script th:src="@{/assets/vendor/dropzone/min/dropzone.min.js}"></script>
	<!-- Dropzone init -->
	<script th:src="@{/assets/js/forms-dropzone.js}"></script>
		
	<script>
	  $(document).ready(function ($) {
		
		$("body").on("click", ".iconComment", function() {
			$("#firstToComment").attr("hidden", true);
		});
		
		function reloadPage(){
        	location.reload(true);
    	}
    
        $("body").on("click", ".newReply", function() {
        	var fID2 = $("#forumId").val();
        	var fID = $("#forumId").data("id");
			var url = "/forum/rep/new_"+fID;
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=editReplyForm]").serialize(),

			            success: function(res) {
							$('#forum').html(res);
							reloadPage();
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					//document.getElementById('forum').style.paddingRight = '0px';
		});
	    $("body").on("click", ".updateModule", function() {
         	var title = $("#title").val();
			var url = "/modules/update";
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=editUpdateForm]").serialize(),

			            success: function(res) {
							$('#module').html(res);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					document.getElementById('module').style.paddingRight = '0px';
		});
		$('.back').click(function(){
			 $form = $("<form></form>");
			 $form.attr("action" , "/forum/"),
			 $form.attr("method", "GET");
			 $('body').append($form);
			 $form.submit();
	  	});
	  });
	</script>
	
</body>
</th:block>
</html>