<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="viewForumEdit">
  <form id="updateMod-form" class="card-body" th:method="post" th:action="@{/modules/update}" name="editUpdateForm" th:if="${#session.getAttribute('roleId') == 1}">
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Title</label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${modules.moduleTitle}">
	  </div>
	</div>
	
	
	<input type="text" placeholder="lseqid" id="userId" th:field="${modules.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${modules.createdDt}" class="form-control" hidden="true">
	<input type="text" placeholder="moddt" th:field="${modules.modifiedDt}" class="form-control" hidden="true">
									
	
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description</label>
		<input type="text" placeholder="Description" class="form-control" th:field="${modules.moduleDesc}" >
	  </div>
	</div>
	<div class="col-md-12 fullDescArea"> <!-- hidden="true" -->
	  <div class="form-group mb-4" >
		<label class="form-label">Full Description</label>
		<textarea rows="5" placeholder="Enter Full Description" th:field="${modules.fullModuleDesc}" value="Enter Full Description" class="form-control" >Enter full description</textarea>
	  </div>
	</div>
	
	<span id="mLevel" th:text="${modules.moduleLevel}" hidden="true"></span>
	
	<div class="col-12">
      	<span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${modules.moduleLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioAdv">Advance</label></span>
    </div>
                          		                
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${modules.seqId != null}" th:attr="data-id=${modules.seqId}" class="updateModule btn btn-primary">Save Changes</button>
    </div>
 </form>
 
 
 <div th:if="${#session.getAttribute('roleId') != 1}">
 
 	<div class="container-fluid pt-4 mt-2">
      <div class="form-group row col-sm-12">
        <div class="col-sm-4 mb-4">
		  <label class="form-label">Title </label>
        </div>
        <div class="col-sm-6">
		  <div type="text" id="title" placeholder="title" class="form-label" th:text="': ' + ${modules.moduleTitle}"></div>
        </div>
	  </div>
	  
	  <div class="form-group row col-sm-12">
        <div class="col-sm-4 mb-4">
		  <label class="form-label">Short Description</label>
        </div>
        <div class="col-sm-6">
		  <div type="text" id="title" placeholder="title" class="form-label" th:text="': ' + ${modules.moduleDesc}"></div>
        </div>
	  </div>
	  
	  <div class="form-group row col-sm-12">
        <div class="col-sm-4 mb-4">
		  <label class="form-label">Full Description</label>
        </div>
        <div class="col-sm-8">
		  <div type="text" id="title" placeholder="title" class="form-label" th:text="': ' + ${modules.fullModuleDesc}"></div>
        </div>
	  </div>
	</div>

		                
	<input type="text" placeholder="lseqid" id="userId" th:field="${modules.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${modules.createdDt}" class="form-control" hidden="true">
	<input type="text" placeholder="moddt" th:field="${modules.modifiedDt}" class="form-control" hidden="true">
									
	
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
    </div>
 </div>
</th:block>


<th:block th:fragment="viewForumNew">
  <form id="editForum-form" class="card-body" th:method="post" th:action="@{/forum/new}" name="editForumForm" >
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Topic: </label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${forum.forumTitle}">
	  </div>
	</div>
	
	<!-- <div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description</label>
		<input type="text" placeholder="Description" class="form-control" th:field="${modules.moduleDesc}" >
	  </div>
	</div>-->
	
	<div class="col-md-12 fullDescArea"> 
	  <div class="form-group mb-4" >
		<label class="form-label">Your Question: </label>
		<textarea rows="7" placeholder="Enter your question" th:field="${forum.forumQuestion}" value="Enter your question" class="form-control" >Enter your question</textarea>
	  </div>
	</div>
	
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${forum.seqId == null}" class="newForum btn btn-primary">Submit Topic</button>
    </div>
 
 </form>
 
</th:block>

</html>
