<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CubeLink</title>

  <!-- Font Awesome Icons -->
  <link th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link th:href="@{/assets/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link th:href="@{/assets/css/creative.min.css}" rel="stylesheet">

  <!-- Favicon-->
  <link rel="shortcut icon" th:href="@{/assets/images/cubesat-color.ico}">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <img th:src="@{/assets/images/cubesat-color.png}" width="40px">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CubeLink</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mySat">MySat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-left justify-content-left text-left">
        <div class="col-lg-5 col-md-6 col-4 align-self-end mb-4">
          <h1 class="text-uppercase text-primary font-weight-bold">Start building your CubeSat now !</h1>
          <!-- <hr class="divider my-4"> -->
        </div>
        <div class="col-lg-12 col-md-12 col-12 align-self-baseline">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">CubeLink has everything you need to build your very own CubeSat ! <br> Free access to our training modules, helpful community, and monitor your CubeSat with our Dashboard!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" th:href="@{/login}">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fa fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Resourceful</h3>
            <p class="text-muted mb-0">Our learning modules are updated regularly</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fa fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">New technologies for building CubeSat will be included from time to time</p>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fa fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Ready to Publish</h3>
            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <i class="fa fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made for analysis</h3>
            <p class="text-muted mb-0">You can now see data fetched from your CubeSat!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Section -->
  <!-- <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/1.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/1.jpg}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/2.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/2.jpg}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/3.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/3.jpg}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/4.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/4.jpg}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/5.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/5.jpg}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" th:href="@{/assets/images/portfolio/fullsize/6.jpg}">
            <img class="img-fluid" th:src="@{/assets/images/portfolio/thumbnails/6.jpg}" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>-->
  
  <section class="page-section bg-primary text-white text-center" id="mySat">
      <!-- <video width="780" height="540" controls autoplay>
	    <source th:src="@{assets/images/vid1.mp4}" type="video/mp4">
	       Your browser does not support the video tag.
	  </video> -->
	  
	  <iframe width="748" height="421" src="https://www.youtube.com/embed/jgbpxE0m_mU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  
  </section>
  
  
  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h1 class="mb-4">Stop Waiting !<br><br>Start Building !</h1><br>
      <a class="btn btn-light btn-xl" th:href="@{/login}">Start Now!</a>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fa fa-phone fa-3x mb-3 text-muted"></i>
          <div>(+60) 11-12345678</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@cubelink.com</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - 2020 | CubeLink</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Plugin JavaScript -->
  <script th:src="@{/assets/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <script th:src="@{/assets/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

  <!-- Custom scripts for this template -->
  <script th:src="@{/assets/js/creative.min.js}"></script>

</body>

</html>
