<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="viewModuleEdit">
  <form id="updateMod-form" class="card-body" th:method="post" th:action="@{/modules/update}" name="editUpdateForm" th:if="${#session.getAttribute('roleId') == 1}">
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Title</label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${modules.moduleTitle}"></input>
	  </div>
	</div>
	
	
	<input type="text" placeholder="lseqid" id="userId" th:field="${modules.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${modules.createdDt}" class="form-control" hidden="true">
	<input type="text" placeholder="moddt" th:field="${modules.modifiedDt}" class="form-control" hidden="true">
	<input type="text" placeholder="count" th:field="${modules.count}" class="form-control" hidden="true">								
	
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description</label>
		<input type="text" placeholder="Description" class="form-control" th:field="${modules.moduleDesc}" >
	  </div>
	</div>
	<div class="col-md-12 fullDescArea">
	  <div class="form-group mb-4" >
		<label class="form-label">Full Description</label>
		<textarea rows="5" placeholder="Enter Full Description" th:field="${modules.fullModuleDesc}" value="Enter Full Description" class="form-control" >Enter full description</textarea>
	  </div>
	</div>
	
	<span id="mLevel" th:text="${modules.moduleLevel}" hidden="true"></span>
	
	<div class="col-12 mb-3">
      	<span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${modules.moduleLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioAdv">Advance</label></span>
    </div>
             
    <div class="col-12 text-center" th:if="${modules.video} != null">
    	<th:block th:utext="${modules.video}"></th:block>
    </div>
    <div class="col-12">
    	<div class="form-group mt-4 row">
			<label class="form-label col-3">Source <i class="fa fa-question-circle" title="You can embed an external video with an <iframe> tag.&#10; Please also make sure the size are as stated ( width='748' height='421')"></i> : </label>
			<input type="text" placeholder="Description" class="col-9 form-control" th:field="${modules.video}" >
	  	</div>
	  	<div class="form-group row">
			<label class="form-label col-3">Produced by <i class="fa fa-question-circle" title="If the video is outsourced, be sure to credit the producer"></i> : </label>
			<input type="text" placeholder="Video Source" class="col-9 form-control" th:field="${modules.videoSrc}" >
	  	</div>
    </div>
                 		                
	<!-- upload files -->
	<div class="col-sm-6 col-md-6 " hidden="true">
	  <div class="form-group mb-4 text-center card">
		<form id="demo-upload" action="/upload" class="dropzone dz-clickable m-4">
		  <div class="dz-message m-4">
		    <p>Drop files here or click to upload.</p>
		  </div>
		</form>
		<div class="card-body">
		  <p class="indexMod" hidden="true">2</p>
		  <p class="card-text"><small class="text-muted">Upload new file</small></p>
		  <hr class="my-2">
		</div>
	  </div>
	</div>
	
	<!-- <div th:if="${#session.getAttribute('roleId') == 1}">
	  <div class="col-sm-12 col-md-12">
		<div clas="text-center">
		  <div class="col-sm-12 card card-body">
			<form id="demo-upload" action="/upload" class="dropzone dz-clickable">
			  <div class="dz-message">
			    <p>Drop files here or click to upload.</p>
			    <p><span class="note">(This is just for a demo purpose)</span></p>
			  </div>
			</form>
		  </div>
		</div>
	  </div>					 
	</div> -->
					 						
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="deleteBtn btn btn-warning" th:attr="data-id=${modules.seqId}"  th:if="${modules.seqId != null}">Delete</button>
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${modules.seqId != null}" th:attr="data-id=${modules.seqId}" class="updateModule btn btn-primary">Save Changes</button>
    </div>
 </form>
 
 
</th:block>

<th:block th:fragment="viewModuleRegularUser">
  <div th:if="${#session.getAttribute('roleId') != 1}">
 
 	<div class="container-fluid pt-4 mt-2">
      <div class="form-group row col-sm-12">
        <div class="col-sm-4">
		  <strong><label class="form-label">Title </label></strong>
        </div>
        <div class="col-sm-6">
		  <strong><div type="text" id="title" placeholder="title" class="form-label" th:text="': ' + ${modules.moduleTitle}"></div></strong>
        </div>
	  </div>
	  
	  <div class="form-group row col-sm-12">
        <div class="col-sm-4">
		 <strong><label class="form-label">Short Description</label></strong>
        </div>
        <div class="col-sm-6">
		  <div type="text" id="title" placeholder="title" class="form-label" th:utext="': ' + ${modules.moduleDesc}"></div>
        </div>
	  </div>
	  
	  <div class="form-group row col-sm-12 mb-4">
        <div class="col-12">
		  <strong><label class="form-label">Full Description :</label></strong>
        </div>
        <div class="col-12">
          <div type="text" id="title" placeholder="title" class="form-label" style="text-align:justify" th:utext="${modules.fullModuleDesc}"></div>
        </div>
	  </div>
	  
	  <div class="col-12 text-center small mt-3 mb-3" th:if="${modules.video} != null">
    	<th:block th:utext="${modules.video}"></th:block>
    	<span th:if="${modules.videoSrc}!=null"><label class="form-label mr-2">Produced by : </label>
			  <label placeholder="Video Source" class="form-label" th:utext="${modules.videoSrc}"></label>
		</span>
      </div>
    
	</div>
		                
	<input type="text" placeholder="lseqid" id="userId" th:field="${modules.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${modules.createdDt}" class="form-control" hidden="true">
	<input type="text" placeholder="moddt" th:field="${modules.modifiedDt}" class="form-control" hidden="true">
	
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
    </div>
 </div>
</th:block>

<th:block th:fragment="viewModuleNew">
  <form id="editMod-form" class="card-body" th:method="post" th:action="@{/modules/new}" name="editModForm" >
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Title</label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${modules.moduleTitle}">
	  </div>
	</div>
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description</label>
		<input type="text" placeholder="Description" class="form-control" th:field="${modules.moduleDesc}" >
	  </div>
	</div>
	<div class="col-md-12 fullDescArea"> <!-- hidden="true" -->
	  <div class="form-group mb-4" >
		<label class="form-label">Full Description</label>
		<textarea rows="5" placeholder="Enter Full Description" th:field="${modules.fullModuleDesc}" value="Enter Full Description" class="form-control" >Enter full description</textarea>
	  </div>
	</div>
	
	<span id="mLevel" th:text="${modules.moduleLevel}" hidden="true"></span>
	
	<div class="col-12">
        <span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${modules.moduleLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${modules.moduleLevel}">
        <label for="radioAdv">Advance</label></span>
    </div>
   
    <div class="col-12">
    	<div class="form-group mt-4 row">
			<label class="form-label col-3">Source 
				<i class="fa fa-question-circle" title="You can embed an external video with an <iframe> tag.&#10;Please also make sure the size are as stated ( width='748' height='421')
					&#10;Example: &#10;<iframe width='748' height='421' src='https://www.youtube.com/embed/HZMiJ_Q47qk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>'
					&#10;">
				</i> :
			</label>
			<input type="text" placeholder="External video source" class="col-9 form-control" th:field="${modules.video}" >
	  	</div>
	  	<div class="form-group row">
			<label class="form-label col-3">Produced by <i class="fa fa-question-circle" title="If the video is outsourced, be sure to credit the producer"></i> : </label>
			<input type="text" placeholder="Video Source" class="col-9 form-control" th:field="${modules.videoSrc}" >
	  	</div>
    </div>
    
    		                
	<!-- upload files -->
	<div class="col-sm-6 col-md-6 " hidden="true">
	  <div class="form-group mb-4 text-center card">
		<form id="demo-upload" method="post" action="/uploadFile" class="dropzone dz-clickable m-4">
		  <div class="dz-message m-4">
		    <p>Drop files here or click to upload.</p>
		  </div>
		</form>
		<div class="card-body">
		  <p class="indexMod" hidden="true">2</p>
		  <p class="card-text"><small class="text-muted">Upload new file</small></p>
		  <hr class="my-2">
		</div>
	  </div>
	</div>
						
	<div th:if="${#session.getAttribute('roleId') == 1}" hidden="true">
	  <div class="col-sm-12 col-md-12">
		<div clas="text-center">
		  <div class="col-sm-12 card card-body">
			<form id="demo-upload" methode="post" action="/uploadFile" class="dropzone dz-clickable">
			  <div class="dz-message">
			    <p>Drop files here or click to upload.</p>
			    <p><span class="note">(This is just for a demo purpose)</span></p>
			  </div>
			</form>
		  </div>
		</div>
	  </div>					 
	</div> 
					 						
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${modules.seqId == null}" class="newModule btn btn-primary">Save Module</button>
    </div>
						    
  <!--</div> --> <!-- card card-profile -->
 </form>
</th:block>

</html>
