<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="groupName='modules', pageName='Modules'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>
<style>
.textOverflow {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
</style>

<body id="module">
	<div class="page">
	
		<!-- Top Navigation Bar -->
		<th:block th:replace="fragments/header :: top-navigation "></th:block>
		
		<div class="page-content d-flex align-items-stretch">
			<!-- Sidebar -->
			<th:block th:replace="fragments/header :: sidebar "></th:block>
			
			<div class="content-inner">
				<!-- Page Header -->
				<th:block th:replace="fragments/header :: pageHeader (pageName=${pageName})"></th:block>
				
				<section>
				  <div class="container-fluid">
				    <div th:if="${modules.empty}">
					  <div class="card card-body mb-3" style="cursor:pointer" data-toggle="collapse" href="#collapseModule" role="button" aria-expanded="false" aria-controls="collapseModule">
						<div class="form-group text-center">
						  <span class="col-12"><label class="form-label">No Module is available. Create New Now!</label></span>
				          <span class="iconModule" >
			                <i class="fa fa-file-o"></i>
			              </span>
						</div>
				      </div> 
					</div>
					 
					<div class="collapse col-12 p-0" id="collapseModule">
					   <div class="col-6 col-sm-4 col-md-3 col-lg-3" th:if="${#session.getAttribute('roleId') == 1}">
		                  <div class="card">
		                  	<img th:src="@{/assets/images/7.jpg}" alt="Add new module" class="card-img-top img-fluid"> 
		                    <div class="card-body text-center">
		                      <a th:href="@{/modules/new}">
		                        <small class="btn btn-primary small">Add New</small>
		                      </a>
		                      <!-- <hr class="my-2"> -->
		                    </div>
		                  </div>
		               </div>
				    </div> <!-- collapse -->
				   					
	                <div th:each="modules, stat : ${modules}" class="col-6 col-sm-4 col-md-3 col-lg-3">
	                  <div class="card editMod" th:attr="data-id=${modules.seqId}">
	                  	<img th:src="@{/assets/images/7.jpg}" alt="Card image cap" class="card-img-top img-fluid">
	                    <div class="card-body">
	                      <p class="indexMod" th:text="${modules.seqId}" hidden="true"></p>
	                      <p class="card-text" th:text="${modules.moduleTitle}">Module</p>
	                      <p class="card-text"><small class="text-muted textOverflow" th:text="${modules.moduleDesc}" th:title="${modules.moduleDesc}">Description of Module</small></p>
	                      <hr class="my-2">
	                      <p class="card-text text-right" style="font-size:9pt">
	                        <small class="text-muted">Last updated</small>
	                        <small class="text-muted" th:if="${modules.modifiedDt} != null" th:text="${#dates.format(modules.modifiedDt, 'dd/MM/yyyy hh:mm a')}"></small>
	                        <small class="text-muted" th:if="${modules.modifiedDt} == null" th:text="${#dates.format(modules.createdDt, 'dd/MM/yyyy hh:mm a')}"></small>
	                      </p> <!-- {#dates.format(modules.createdDt, 'dd/MM/yyyy hh:mm a') -->
	                    </div>
	                  </div>
	                </div>
					 
				  </div>
				</section>
				
				<div th:replace="fragments/footer :: footer "></div>
			</div>
		</div>
	</div>
	
	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
	<!-- Dropzone.js -->
	<!-- <script th:src="@{/assets/vendor/dropzone/min/dropzone.min.js}"></script> -->
	<!-- Dropzone init -->
	<!-- <script th:src="@{/assets/js/forms-dropzone.js}"></script> -->
	
	<script>
	  $(document).ready(function ($) {

        $("body").on("click", ".editModBtn", function() {
        	var title = $("#title").val();
        	//alert("/modules/update - " + title + " is being saved");
			var url = "/modules/update";
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=editModuleForm]").serialize(),

			            success: function(res) {
							$('#module').html(res);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					$("#myModalM .close").click();
				    $('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					document.getElementById('module').style.paddingRight = '0px';
		});
		$('.editMod').click(function(){
			 $tr = $(this).attr("data-id");
			 var id2 = $('.indexMod').val();
			 var id = $tr;
			 //alert(id);
			 $form = $("<form></form>");
			 $form.attr("action" , "/modules/update/"+id),
			 $form.attr("method", "GET");
			 $('body').append($form);
			 $form.submit();
	  	});
	  	
		$('.newMode').click(function(){
			 $form = $("<form></form>");
			 $form.attr("action" , "/modules/new"),
			 $form.attr("method", "GET");
			 $('body').append($form);
			 $form.submit();
	  	});
	  });
	</script>
	
</body>
</th:block>
</html>