<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="pageName='Profile'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>

<style>
.testG {
    background: #0ea7cc;
    background: -webkit-linear-gradient(to right, #086a81, #0ea7cc); 
    //background: linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to bottom, #086a81, #0ea7cc);
    color: #fff;
    text-align: center;
}
</style>

<body id="newSub">
	<div class="page" th:object="${userDetail}">
	
		<!-- Top Navigation Bar -->
		<th:block th:replace="fragments/header :: top-navigation "></th:block>
		
		<div class="page-content d-flex align-items-stretch">
			<!-- Sidebar -->
			<th:block th:replace="fragments/header :: sidebar "></th:block>
			
			<div class="content-inner">
				<!-- Page Header -->
				<th:block th:replace="fragments/header :: pageHeader (pageName=${pageName})"></th:block>
				
				<!-- Profile Header Section -->
				<section>
		            <div class="container-fluid">
		              <div class="row">
		                <div class="col-lg-12"> <!-- class="col-lg-12" -->
		                  <div class="card card-profile m-0">
		                  
		                    <!-- <div class="card-header img-fluid m-0">
		                    	<img src="/assets/images/7.jpg">
		                    </div> -->
		                    
		                   <!--<div class="card-header testG"></div> --> <div class="card-header" style="background-image: url(/assets/images/7.jpg);"></div>
		                    <div class="col-12" style="text-align:right">
		                    	<button type="button" data-target="#myModalR" data-toggle="modal" class="add-rider-modal btn fa fa-pencil-square"></button>
							</div>
		                    
		                    <div class="card-body text-center"><img th:src="@{/assets/images/avatar-1.jpg}" class="card-profile-img">
		                      <h3 class="mb-3" th:text="${userDetail.firstName}"+" "+"${userDetail.lastName}"></h3>
		                      <p class="mb-4" th:text="${userDetail.bio}">Available</p>
		                      <p class="mb-4" th:text="${userDetail.emailAdd}">Available</p>
		                      <div class="form-group col-12 text-center">
		                      	<span th:if="${userDetail.userLevel}=='A'" th:text="Advance">user_level</span>
		                      	<span th:if="${userDetail.userLevel}=='I'" th:text="Intermediate">user_level</span>
		                      	<span th:if="${userDetail.userLevel}=='B'" th:text="Beginner">user_level</span>
		                      	<span class="text-center ml-2 mr-2">|</span> 
		                      	<span th:text="${userDetail.points}">user_point</span>
		                      	<span class="text-center mr-2">pt</span> 
		                      </div>
		                      <!-- <button class="btn btn-outline-dark btn-sm"><span class="fa fa-twitter"></span> Follow</button> -->
		                    </div>
		                   </div> 
		                   
		                  <!-- <div class="card">
		                    <div class="card-body">
		                      <div class="media">
		                       <span class="avatar avatar-xl mr-3"> 
		                      	<img th:src="@{/assets/images/avatar-1.jpg}" class="img-fluid rounded-circle">
		                       </span>
		                       <div class="media-body" th:object="${userDetail}">
		                          <h4 th:text="*{fullName}">No name</h4>
		                          <p class="text-muted mb-0">Coder</p>
		                          <ul class="social-links list-inline mb-0 mt-2">
		                            <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Haziran's Facebook"><i class="fa fa-facebook"></i></a></li>
		                            <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="@hazirah_i"><i class="fa fa-twitter"></i></a></li>
		                            <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="+60111234567"><i class="fa fa-phone"></i></a></li>
		                            <li class="list-inline-item"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="@hazirah_i"><i class="fa fa-skype"></i></a></li>
		                          </ul>
		                       </div>
		                      </div> 
		                    </div> 
		                  </div> -->
		                  
		                 <!--  <form class="card"> 
		                    <div class="card-header">
		                      <h3 class="card-title">My Profile</h3>
		                    </div>
		                    <div class="card-body">
		                      <div class="row mb-3">
		                        <div class="col-auto d-flex align-items-center">
		                         <span class="avatar avatar-lg">
		                        	<img th:src="@{/assets/images/avatar-1.jpg}" class="img-fluid rounded-circle mb-3">
		                         </span>
		                        </div>
		                        <div class="col">
		                          <div class="form-group">
		                            <label class="form-label">Name</label>
		                            <input placeholder="Your name"  th:value="${userDetail.firstName}" class="form-control">
		                          </div>
		                        </div>
		                      </div>
		                      <div class="form-group">
		                        <label class="form-label">Email</label>
		                        <input placeholder="you@domain.com" th:value="${userDetail.emailAdd}" class="form-control">
		                      </div>
		                      <div class="form-group">
		                        <label class="form-label">Password</label>
		                        <input type="password" value="password" class="form-control">
		                      </div>
		                    </div>
		                    <div class="card-footer text-right">
		                      <button class="btn btn-primary">Save</button>
		                    </div>
		                  </form>  -->
		                </div>
		                
		                <!-- <div id="newSub">
		                	<th:block th:replace="views/profile-view :: viewProfileDet"></th:block>
		                </div> -->
		                <div id="replace_formB">
		                	<th:block th:replace="views/profile-view :: editProfile"></th:block>
		                </div>
		                
		                 
		              </div>
		            </div>
          		</section>
				
				<div th:replace="fragments/footer :: footer "></div>
		</div>
	</div>
	
	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
	
	<script>
	  $(document).ready(function ($) {
		$("body").on("click", ".i-checks", function() {
		  var x = $('.hidePwd').val();
		  if (x.type === "password") {
		    x.type = "text";
		  } else {
		    x.type = "password";
		  }
	    });
	    
	    function myFunction() {
		  var x = document.getElementById("myInput");
		  if (x.type === "password") {
		    x.type = "text";
		  } else {
		    x.type = "password";
		  }
		}
	  });
	  $(document).ready(function ($) {
	  	/*$('.editBtn').click(function() {
        	var id = $('#userId').val();
        	var url = "/profile/"+id;
            $form = $("<form></form>");
            $form.attr("action", url),
            $form.attr("method", "GET");
            $form.append("<input type='text' name='modalType' value='preview' ></input>");
            $('body').append($form);
            $form.submit();
        }); */
        

        $("body").on("click", ".editBtn", function() {
        	//var id = $("#userId").val();
        	var fname = $("#fname").val();
        	//alert("/update - " + fname);
			var url = "/update";
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=editDetForm]").serialize(),

			            success: function(res) {
							$('#newSub').html(res);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					$("#myModalR .close").click();
				    $('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					document.getElementById('newSub').style.paddingRight = '0px';
		});
	  });
	</script>
</body>
</th:block>
</html>