<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="viewProfileDet">
 <div class="row m-3 pt-0">
   <div>
	<div class="card card-profile">
	<div class="col-lg-12 p-0" th:object="${userDetail}" >
		<!-- <form class="card" id="editDet-form" th:method="get" th:action="@{/profile}" name="getForm" > -->
			<div class="card-body">
				<h3 class="card-title">Welcome, <span th:text="${userDetail.firstName}"></span></h3> 
			                      <div class="row">
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Email address : <span type="email" placeholder="Email" th:text="${userDetail.emailAdd}"></span></label>
			                          </div>
			                        </div>
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Name : <span type="text" placeholder="Name" th:text="${userDetail.firstName}+' '+${userDetail.lastName}" ></span></label>
			                          </div>
			                        </div>
			                       
			                       <div class="col-sm-6 col-md-6">
			                       	<div class="form-group">
				                       	<span>Hi <p th:text="${#session.getAttribute('firstname')}"></p></span>
										<span><p th:text="${#session.getAttribute('points')}"></p>points</span>
			                       	</div>
			                       </div>
			                       
			                        <div class="col-md-12">
			                          <div class="form-group mb-0">
			                            <label class="form-label">About Me : <span placeholder="Here can be your description" value="Mike" th:text="${userDetail.bio}"></span></label>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                    <div class="card-footer text-right">
			                      <button type="button"  data-target="#myModalR" data-toggle="modal" class="add-rider-modal btn btn-primary">Edit Profile</button>
			                    </div>
			            	<!-- </form> -->
		                </div>
		                
	</div>
   </div>
 </div>
</th:block>

<th:block th:fragment="editProfile">
<!-- Modal-->
         <div id="myModalR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
           <div role="document" class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                   <h4 id="exampleModalLabel" class="modal-title">Edit Details</h4>
                   <button type="button" data-dismiss="modal" aria-label="Close" class="close modal-close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
			        
			         <div class="col-lg-12" th:object="${userDetail}" >
		                  <form class="card" id="editDet-form" th:method="post" th:action="@{/update}" name="editDetForm" >
			                     <div class="card-body">
			                      <div class="row">
			                      
			                        <input type="text" placeholder="password" th:field="${userDetail.password}" class="form-control" hidden="true">
									<input type="text" placeholder="enabled" th:field="${userDetail.enabled}" class="form-control" hidden="true">
									<input type="text" placeholder="roleid" th:field="${userDetail.roleId}" class="form-control" hidden="true">
									<input type="text" placeholder="lseqid" id="userId" th:field="${userDetail.id}" class="form-control" hidden="true">
									<input type="text" placeholder="createdt" th:field="${userDetail.userCreationDate}" class="form-control" hidden="true">
									<input type="text" placeholder="moddt" th:field="${userDetail.userModifiedDate}" class="form-control" hidden="true">
									<input type="text" placeholder="ulevel" th:field="${userDetail.userLevel}" class="form-control" hidden="true">
									<input type="text" placeholder="points" th:field="${userDetail.points}" class="form-control" hidden="true">
									<input type="text" placeholder="sess" th:field="${userDetail.sessionCount}" class="form-control" hidden="true">
										
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Username</label>
			                            <input type="text" placeholder="Username" th:field="${userDetail.username}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Email address</label>
			                            <input type="email" placeholder="Email" th:field="${userDetail.emailAdd}" class="form-control">
			                          </div>
			                        </div>
			                        
			                       <!-- <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Password</label>
			                            <input type="password" placeholder="password" th:value="${userDetail.password}" class="form-control hidePwd"><br>
			                            <div class="i-checks">
			                            	<input class="checkbox-template mr-2 show" type="checkbox"><small>Show Password</small>
			                            </div>
			                          </div>
			                        </div> -->
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">First Name</label>
			                            <input id="fname" type="text" placeholder="First name" th:field="${userDetail.firstName}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Last Name</label>
			                            <input type="text" placeholder="Last Name" th:field="${userDetail.lastName}" class="form-control">
			                          </div>
			                        </div>
			                        
			                         <div class="col-sm-6 col-md-6">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Age</label>
			                            <input type="text" placeholder="Age as of 2020" th:field="${userDetail.age}" class="form-control">
			                          </div>
			                        </div>
			                        
			                        <!-- ignored on 27Feb -->
			                        <!-- <div class="col-md-12">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Address</label>
			                            <input type="text" placeholder="Home Address" th:field="${userDetail.address1}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-sm-6 col-md-4">
			                          <div class="form-group mb-4">
			                            <label class="form-label">City</label>
			                            <input type="text" placeholder="City" th:field="${userDetail.city}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-sm-6 col-md-3">
			                          <div class="form-group mb-4">
			                            <label class="form-label">ZIP</label>
			                            <input type="number" placeholder="ZIP" th:field="${userDetail.zipcode}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-md-5">
			                          <div class="form-group mb-4">
			                            <label class="form-label">State</label>
			                            <input type="text" placeholder="State"  th:field="${userDetail.state}" class="form-control">
			                          </div>
			                        </div>
			                        <div class="col-md-5">
			                          <div class="form-group mb-4">
			                            <label class="form-label">Country</label>
			                            <input type="text" placeholder="Country"  th:field="${userDetail.country}" class="form-control">
			                          </div>
			                        </div> -->
			                        <div class="col-md-12">
			                          <div class="form-group mb-0">
			                            <label class="form-label">About Me</label>
			                            <textarea rows="5" placeholder="Here can be your description" value="Mike" class="form-control" th:field="${userDetail.bio}">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed.</textarea>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                    <!-- <div class="card-footer text-right">
			                      <button type="submit" class="btn btn-primary updateProfileDet">Update Profile</button>
			                    </div> -->
			            	</form>
		                </div>
		             
	                  <div class="modal-footer">
				          <button type="button" data-dismiss="modal" class="modal-close btn btn-secondary">Close</button>
				          <button type="button" data-dismiss="modal" data-backdrop="false" class="editBtn btn btn-primary">Save changes</button>
				      </div>
	            </div>
            </div>
         </div>
      </div>
      
</th:block>
</html>