<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="viewQuizEdit">
  <form id="updateQuiz-form" class="card-body" th:method="post" th:action="@{/modules/quiz/update}" name="editQuizForm" th:if="${#session.getAttribute('roleId') == 1}">
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Title: </label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${quiz.quizTitle}"></input>
	  </div>
	  <div class="form-group mb-4">
		<label class="form-label">Description: </label>
		<input type="text" id="desc" placeholder="description" class="form-control" th:field="${quiz.quizDescription}"></input>
	  </div>
	</div>
	
	<input type="text" placeholder="lseqid" id="userId" th:field="${quiz.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${quiz.createdDt}" class="form-control" hidden="true">
	<!-- <input type="text" placeholder="moddt" th:field="${quiz.modifiedDt}" class="form-control" hidden="true"> -->
									
	
	<span id="qLevel" th:text="${quiz.quizLevel}" hidden="true"></span>
	
	<div id="questionLs" class="iconQuestion card card-body" th:if="${quiz.seqId} != null">
		<div class="form-group text-center">
			<span class="col-12"><label class="form-label"> </label></span>
			<span data-toggle="collapse" href="#collapseQuest" role="button" aria-expanded="false" aria-controls="collapseQuest">
		    	<i class="fa fa-comment-o"></i>
		    </span>
		</div>
	</div>
	
	<div class="collapse col-12 p-0" id="collapseQuest">
		<form id="editReply-form" class="card-body p-0" th:method="post" th:action="@{/modules/quiz/quest/new-}+${quiz.seqId}" name="editReplyForm" >
			<div id="quizId" th:attr="data-id=${quiz.seqId}" th:text="${quiz.seqId}" hidden="true"></div>
		      <div class="card card-body">
				  <div class="form-group">
					<span>
					  <label class="form-label">Question : </label>
					  <input type="text" placeholder="Question" class="form-control" > <!-- th:field="${question.quizQuestion}" > -->
					</span>
					<span>
					  <label class="form-label">Answer : </label>
					  <input type="text" placeholder="Right Answer" class="form-control" th:field="${question.quizAnswer}" >
					</span>
			  </div>
			  <div class="form-group">
			  	<div class="col-12 p-0 text-right">
			    	<button type="button" data-toggle="collapse" href="#collapseReply" aria-expanded="false" aria-controls="collapseReply" class="iconQuestion btn btn-secondary">Cancel</button>
	  				<button type="button" th:if="${question.seqId == null}" class="newReply btn btn-primary"><i class="fa fa-send"></i>Submit</button>
			    </div>
			  </div>
			</div>
		</form>
	</div> <!-- collapse -->
						
	<!-- <div class="col-12 mb-3">
      	<span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${quiz.quizLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioAdv">Advance</label></span>
    </div> -->
                 		                
					 						
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="deleteBtn btn btn-warning" th:attr="data-id=${question.seqId}"  th:if="${question.seqId != null}">Delete</button>
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${question.seqId != null}" th:attr="data-id=${question.seqId}" class="updateQuiz btn btn-primary">Save Changes</button>
    </div>
 </form>
 
 
</th:block>

<th:block th:fragment="viewQuizUser">
  <div th:if="${#session.getAttribute('roleId') != 1}">
 
 	<div class="container-fluid pt-4 mt-2">
      <div class="form-group row col-sm-12">
        <div class="col-sm-4">
		  <strong><label class="form-label">Title </label></strong>
        </div>
        <div class="col-sm-6">
		  <strong><div type="text" id="title" placeholder="title" class="form-label" th:text="': ' + ${quiz.quizTitle}"></div></strong>
        </div>
	  </div>
	  
	  <!-- <div class="form-group row col-sm-12">
        <div class="col-sm-4">
		 <strong><label class="form-label">Short Description</label></strong>
        </div>
        <div class="col-sm-6">
		  <div type="text" id="title" placeholder="title" class="form-label" th:utext="': ' + ${modules.moduleDesc}"></div>
        </div>
	  </div>
	  
	  <div class="form-group row col-sm-12 mb-4">
        <div class="col-12">
		  <strong><label class="form-label">Full Description :</label></strong>
        </div>
        <div class="col-12">
          <div type="text" id="title" placeholder="title" class="form-label" style="text-align:justify" th:utext="${modules.fullModuleDesc}"></div>
        </div>
	  </div> -->
	  
	</div>
		                
	<input type="text" placeholder="lseqid" id="userId" th:field="${quiz.seqId}" class="form-control" hidden="true">
	<input type="text" placeholder="createdt" th:field="${quiz.createdDt}" class="form-control" hidden="true">
	<!-- <input type="text" placeholder="moddt" th:field="${modules.modifiedDt}" class="form-control" hidden="true">-->
	
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
    </div>
 </div>
</th:block>


<th:block th:fragment="quizNew">
<form id="editQuiz-form" class="card-body" th:method="post" th:action="@{/modules/quiz/new}" name="newQuizForm" >
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Quiz Title : </label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${quiz.quizTitle}">
	  </div>
	</div>
	
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description : </label>
		<input type="text" placeholder="Description" class="form-control" th:field="${quiz.quizDescription}" >
	  </div>
	</div>
	
	<span id="qLevel" th:text="${quiz.quizLevel}" hidden="true"></span>
	
	<div class="col-12 mb-3">
      	<span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${quiz.quizLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioAdv">Advance</label></span>
    </div>
    
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${quiz.seqId == null}" class="newQuiz btn btn-primary">Create Quiz</button>
    </div>
 
 </form>
</th:block>


<th:block th:fragment="viewQuizNew">
  <form id="editQuiz-form" class="card-body" th:method="post" th:action="@{/modules/quiz/new}" name="editQuizForm" >
	<div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Title</label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${quiz.quizTitle}">
	  </div>
	  <div class="form-group mb-4">
		<label class="form-label">Title</label>
		<input type="text" id="title" placeholder="title" class="form-control" th:field="${quiz.quizDescription}">
	  </div>
	</div>
	<!-- <div class="col-sm-12 col-md-12">
	  <div class="form-group mb-4">
		<label class="form-label">Short Description</label>
		<input type="text" placeholder="Description" class="form-control" th:field="${modules.moduleDesc}" >
	  </div>
	</div> 
	<div class="col-md-12 fullDescArea"> 
	  <div class="form-group mb-4" >
		<label class="form-label">Full Description</label>
		<textarea rows="5" placeholder="Enter Full Description" th:field="${modules.fullModuleDesc}" value="Enter Full Description" class="form-control" >Enter full description</textarea>
	  </div>
	</div> -->
	
	<span id="mLevel" th:text="${quiz.quizLevel}"></span> <!-- hidden="true" -->
	
	<div class="col-12">
        <span class="col-sm-3 p-0"><input id="radioBegin" type="radio" value="B" th:field="${quiz.quizLevel}">
        <label for="radioBegin">Beginner</label></span>
        <span class="col-sm-3 p-0"><input id="radioInter" type="radio" value="I" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioInter">Intermediate</label></span>
        <span class="col-sm-3 p-0"><input id="radioAdv" type="radio" value="A" name="optionsRadios" th:field="${quiz.quizLevel}">
        <label for="radioAdv">Advance</label></span>
    </div>
   
   
   
	<!-- submit button -->
	<div class="card-footer text-right">
	  <button type="button" class="back btn btn-secondary">Close</button>
	  <button type="button" th:if="${quiz.seqId == null}" class="newQuiz btn btn-primary">Save Quiz</button>
    </div>
						    
  <!--</div> --> <!-- card card-profile -->
 </form>
</th:block>

</html>
