<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="groupName='modules', pageName='Quizzes'">
<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>
<style>
.textOverflow {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
</style>

<body id="quiz">
	<div class="page">
	
		<!-- Top Navigation Bar -->
		<th:block th:replace="fragments/header :: top-navigation "></th:block>
		
		<div class="page-content d-flex align-items-stretch">
			<!-- Sidebar -->
			<th:block th:replace="fragments/header :: sidebar "></th:block>
			
			<div class="content-inner">
				<!-- Page Header -->
				<th:block th:replace="fragments/header :: pageHeader (pageName=${pageName})"></th:block>
				
				<section>
				  <div class="container-fluid">
				    <div class="row">
	                 
	                  <!-- <div class="col-6 col-sm-4 col-md-3 col-lg-3" th:if="${#session.getAttribute('roleId') == 1}">
	                  <div class="card">
	                  	<img th:src="@{/assets/images/7.jpg}" alt="Add new quiz" class="card-img-top img-fluid"> 
	                    <div class="card-body text-center">
	                      <a th:href="@{/modules/quiz/new}">
	                        <small class="btn btn-primary small">Add New</small>
	                      </a>
	                    </div>
	                  </div>
	                 </div> -->
	                 
	                 <!-- <div th:if="${quiz} == null">
	                  <div class="card col-12">
	                  	<p class="card-text">No Quiz is available</p>
					  </div>
					 </div> -->
					 
	                 
	                 <!-- <div th:each="quiz, stat : ${quiz}" class="col-6 col-sm-4 col-md-3 col-lg-3">
	                  <div class="card editQuiz" th:attr="data-id=${quiz.seqId}">
	                  	<img th:src="@{/assets/images/7.jpg}" alt="Card image cap" class="card-img-top img-fluid">
	                    <div class="card-body">
	                      <p class="indexQuiz" th:text="${quiz.seqId}" hidden="true"></p>
	                      <p class="card-text" th:text="${quiz.quizTitle}">Quiz</p>
	                      <hr class="my-2">
	                      <p class="card-text text-right" style="font-size:9pt">
	                        <small class="text-muted">Last updated</small>
	                        <small class="text-muted" th:if="${quiz.createdDt} != null" th:text="${#dates.format(quiz.createdDt, 'dd/MM/yyyy hh:mm a')}"></small>
	                      </p> 
	                    </div>
	                  </div>
	                 </div> --> 
					 
					 <!-- <div id="replace_formM">
		                	<th:block th:replace="views/module-view :: editModule"></th:block>
		             </div> -->
		                
				    </div>
				  </div>
				</section>
				
				<div th:replace="fragments/footer :: footer "></div>
			</div>
		</div>
	</div>
	
	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
	<!-- Dropzone.js -->
	<!-- <script th:src="@{/assets/vendor/dropzone/min/dropzone.min.js}"></script> -->
	<!-- Dropzone init -->
	<!-- <script th:src="@{/assets/js/forms-dropzone.js}"></script> -->
	
	<script>
	  $(document).ready(function ($) {

        $("body").on("click", ".editModBtn", function() {
        	var title = $("#title").val();
        	//alert("/modules/update - " + title + " is being saved");
			var url = "/modules/update";
				$.ajax({
						url: url,
						type: "POST",
			            data: $("form[name=editModuleForm]").serialize(),

			            success: function(res) {
							$('#module').html(res);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert("opps...!");
						}
			        });
					$("#myModalM .close").click();
				    $('body').removeClass('modal-open');
					$('.modal-backdrop').remove();
					document.getElementById('module').style.paddingRight = '0px';
		});
		$('.editQuiz').click(function(){
			 $tr = $(this).attr("data-id");
			 var id2 = $('.indexQuiz').val();
			 var id = $tr;
			 //alert(id);
			 $form = $("<form></form>");
			 $form.attr("action" , "/modules/quiz/update/"+id),
			 $form.attr("method", "GET");
			 $('body').append($form);
			 $form.submit();
	  	});
	  	
	  });
	</script>
	
</body>
</th:block>
</html>