<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:with="pageName='Sign Up'">

<head>
	<th:block th:replace="fragments/header :: default-header-fragment (title=${pageName})"></th:block>
</head>

<body>
    <div class="container-fluid px-3">
      <div class="row min-vh-100">
        <div class="col-md-12 col-lg-6 col-xl-4 px-lg-5 d-flex align-items-center">
          <div class="w-100">
            <div class="text-center"><img th:src="@{/assets/images/cubesat-color.png}" alt="..." style="max-width: 6rem;" class="img-fluid mb-4">
              <h3 class="display-5 mb-3">Sign up</h3>
              <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            </div>
            <form id="createDet-form" name="createDetForm" class="form-validate" novalidate="novalidate" method="post" th:action="@{/new}" th:object="${userDetail}">
              <div class="form-group">
                <label for="register-username">Username</label>
                <input id="fname" type="text" name="registerUsername" th:field="${userDetail.username}" required="" data-msg="Please enter your username" class="form-control">
              </div>
              <div class="form-group">
                <label>Email Address</label>
                <input type="email" name="registerEmail" th:field="${userDetail.emailAdd}"  required="" data-msg="Please enter a valid email address" class="form-control">
              </div>
              <div class="form-group">
                <label for="register-age">Age</label>
                <input id="age" type="text" name="registerAge" th:field="${userDetail.age}" required="" data-msg="Please enter your age" class="form-control">
              </div>
              <div class="form-group mb-4">
                <label>Password</label>
                <input type="password" name="registerPassword" th:field="${userDetail.password}" required="" data-msg="Please enter your password" class="form-control">
              </div>
              <div class="form-group terms-conditions mb-4">
                <input id="register-agree" name="registerAgree" type="checkbox" required="" data-msg="Your agreement is required" class="checkbox-template">
                <label for="register-agree">I agree with the terms and policy                        </label>
              </div>
              <!-- Submit-->
              <button type="submit" class="btn btn-lg btn-block btn-primary mb-3">Sign up</button>
              <!-- Link-->
              <p class="text-center"><small class="text-muted text-center">Already have an account? <a th:href="@{/login}" style="color:#055c70">Sign in</a>.</small></p>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-8 d-none d-lg-block">
          <!-- Image-->
          <div style="background-image: url(/assets/images/space_rocket_top-02.png);" class="bg-cover h-100 mr-n3"></div>
        </div>
      </div>
    </div>

	<!-- JavaScript files-->
	<script th:replace="fragments/header :: default-js-fragment"></script>
  
  <script>
    $(document).ready(function ($) {
    	$("body").on("click", ".createBtn", function() {
        	var fname = $("#fname").val();
			var url = "/new";
				$.ajax({
					url: url,
					type: "POST",
			        data: $("form[name=createDetForm]").serialize(),
			        success: function(res) {
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert("Register unsuccessful, username/email is not available!");
					}
			    });
				//document.getElementById('newSub').style.paddingRight = '0px';
		});
	 });
  </script>
</body>

</th:block>
</html>