<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	
	<!-- ======================== [ Default Fragments ] ======================== -->
	<!-- Default Meta Fragment -->
	<th:block th:fragment="default-meta-fragment">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title th:text="${title} ? ${title} : 'default title'"></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="robots" content="all, follow">
	</th:block>

	<!-- Default CSS Fragment -->
	<th:block th:fragment="default-css-fragment">
	
	    <!-- Bootstrap -->
	    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet">
	    <!-- Font Awesome CSS-->
	    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" >
	    <!-- Fontastic Custom icon font-->
	    <link rel="stylesheet" th:href="@{/assets/css/fontastic.css}">
    	<!-- Google fonts - Poppins -->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    	
    	<!-- DataTable -->
    	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    	
    	<!-- Theme stylesheet-->
    	<link rel="stylesheet" th:href="@{/assets/css/style.default.css}">
    	<link rel="stylesheet" th:href="@{/assets/css/style.default.premium.css}" id="theme-stylesheet">
    	
    	<!-- Custom stylesheet - for your changes-->
    	<link rel="stylesheet" th:href="@{/assets/css/custom.css}">
    	<!-- Favicon-->
	    <!-- <link rel="icon"  type="image/x-icon" th:href="@{/assets/images/favicon1.ico}"> -->
    	<link rel="shortcut icon" th:href="@{/assets/images/favicon1.ico}">
	</th:block>
	
	<!-- Default JS Fragment -->
	<th:block th:fragment="default-js-fragment">
	    <!-- JavaScript files-->
	    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	    <script th:src="@{/assets/vendor/popper.js/umd/popper.min.js}"> </script>
	    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	    <script th:src="@{/assets/vendor/jquery.cookie/jquery.cookie.js}"> </script>
	    <script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
	    <script th:src="@{/assets/vendor/chart.js/Chart.js}"></script>
	    <script th:src="@{/assets/vendor/jquery-validation/jquery.validate.min.js}"></script>
	   
	    <!-- <script th:src="@{/assets/js/common/charts-home.js}"></script> -->
    
    	<!-- DataTable -->
    	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script><![endif]-->
    
    
	    <!-- Main File-->
	    <script th:src="@{/assets/js/common/front.js}"></script>
	    <script th:src="@{/assets/js/common/custom.js}"></script>
		
	    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	</th:block>

	<!-- ======================== [ Default Header Fragment ] ======================== -->
	<th:block th:fragment="default-header-fragment">
		<head>
			<th:block th:replace="fragments/header :: default-meta-fragment (title=${title})"></th:block>
			<th:block th:replace="fragments/header :: default-css-fragment"></th:block>
		</head>
	</th:block>
	
	<!-- ======================== [ Top Navigation Fragment ] ======================== -->
	<th:block th:fragment="top-navigation">
		<!-- Main Navbar-->
		<header class="header">
			<nav class="navbar">
				<!-- Search Box-->
				<div class="search-box">
					<button class="dismiss">
						<i class="icon-close"></i>
					</button>
					<form id="searchForm" action="#" role="search">
						<input type="search" placeholder="What are you looking for..." class="form-control">
					</form>
				</div>
					<div class="container-fluid">
						<div
							class="navbar-holder d-flex align-items-center justify-content-between">
							<!-- Navbar Header-->
							<div class="navbar-header">
								<!-- Navbar Brand -->
								<a th:href="@{/home}"
									class="navbar-brand d-none d-sm-inline-block">
									<div class="brand-text d-none d-lg-inline-block">
										<span>CubeLink </span>&nbsp;<!-- <strong>Dashboard</strong> -->
									</div>
									<div class="brand-text d-none d-sm-inline-block d-lg-none">
										<!-- <img src="/assets/images/cubelink-upright.png" width="40px"> -->
										<strong>CL</strong>
									</div>
								</a>
								<!-- Toggle Button-->
								<a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
							</div>
							<!-- Navbar Menu -->
							<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
								<!-- Languages dropdown -->
								<!-- <li class="nav-item dropdown">
									<a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" 
										aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
										<img th:src="@{/assets/images/flags/16/GB.png}" alt="English">
										<span class="d-none d-sm-inline-block">English</span>
									</a> -->
									<!-- <ul aria-labelledby="languages" class="dropdown-menu">
										<li>
											<a rel="nofollow" href="#" class="dropdown-item">
												<img th:src="@{/assets/images/flags/16/DE.png}" alt="English" class="mr-2">German
											</a>
										</li>
										<li>
											<a rel="nofollow" href="#" class="dropdown-item">
												<img th:src="@{/assets/images/flags/16/FR.png}" alt="English" class="mr-2">French
											</a>
										</li>
									</ul> -->
								<!-- </li> -->
								
								<!-- Logout -->
								<li class="nav-item">
									<a th:href="@{/logout}" class="nav-link logout"> 
										<span class="d-none d-sm-inline">Logout</span>
										<i class="fa fa-sign-out"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
		</header>
	</th:block>
	
	<!-- ======================== [ Sidebar Fragment ] ======================== -->
	<th:block th:fragment="sidebar">
		<!-- Side Navbar -->
		<nav class="side-navbar">
			<!-- Sidebar Header-->
			<div class="sidebar-header d-flex align-items-center">
				<div class="avatar">
					<img th:src="@{/assets/images/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle">
				</div>
				<!-- <div class="title">
					<p class="h4" th:text="${#session.getAttribute('firstname')}">R</p>
					<span><p th:text="${#session.getAttribute('points')}"></p>points<span>
				</div> -->
			</div>
			
			<!-- Sidebar Navidation Menus-->
			<span class="heading">Main</span>
			<ul class="list-unstyled">
				<th:block th:with=" profile=${'Profile'}, forum=${'Forum'}, modules=${'Modules'}, 
					learning=${'Learning Aid'}, quiz=${'Quizzes'}, new=${'new'} ">
					
					<th:block th:if="${pageName} == null">
						<!-- Page Name doesn't EXISTS -->
						<li th:if="${#session.getAttribute('roleId') == 1}">
							<a th:href="@{/home}"><i class="fa fa-bar-chart"></i>Dashboard</a>
						</li>
						<li>
							<a th:href="@{/profile}"><i class="icon icon-user"></i>Profile</a>
						</li>
						<li th:with="groupName=${'modules'}">
							<a href="#modules" aria-expanded="false" data-toggle="collapse">
								<i class="icon icon-padnote"></i>Learning
							</a>
							<ul id="modules" class="collapse list-unstyled ">
								<li><th:block th:replace="fragments/header :: urlFragment (groupName=${groupName}, urlPath=${'list'}, urlDesc=${modules})"></th:block></li>
								<li><th:block th:replace="fragments/header :: urlFragment (groupName=${groupName}, urlPath=${'quiz/list'}, urlDesc=${quiz})"></th:block></li>
							</ul>
						</li>
						<!-- <li>
							<a th:href="@{/modules/list}"><i class="icon icon-padnote"></i>Modules</a>
						</li> -->
						<li>
							<a th:href="@{/forum/}"><i class="fa fa-users"></i>Forum</a>
						</li>
						
					</th:block>
					
					<th:block th:unless="${pageName} == null">
						<!-- Page Name EXISTS -->
						<li th:if="${#session.getAttribute('roleId') == 1}" th:classappend="${pageName.equals('Dashboard')} ? 'active' : _ ">
							<a th:href="@{/home}"><i class="fa fa-bar-chart"></i>Dashboard</a>
						</li>
						
						<li th:classappend="${pageName.equals('Profile')} ? 'active' : _ ">
							<a th:href="@{/profile}"><i class="icon icon-user"></i>Profile</a>
						</li>
						<li th:with="groupName=${'modules'}">
							<a href="#modules" aria-expanded="false" data-toggle="collapse">
								<i class="icon icon-padnote"></i>Learning Aids
							</a>
							<ul id="modules" class="collapse list-unstyled ">
								<li th:classappend="${pageName.contains(#strings.replace(modules, '-', ' '))} ? 'active' : _ ">
									<th:block th:replace="fragments/header :: urlFragment (groupName=${groupName}, urlPath=${'list'}, urlDesc=${modules})"></th:block>
								</li>
								<li th:classappend="${pageName.contains(#strings.replace(quiz, '-', ' '))} ? 'active' : _ ">
									<th:block th:replace="fragments/header :: urlFragment (groupName=${groupName}, urlPath=${'quiz/list'}, urlDesc=${quiz})"></th:block>
								</li>
							</ul>
						</li>
						<!-- <li th:classappend="${pageName.equals('Modules')} ? 'active' : _ ">
							<a th:href="@{/modules/list}"><i class="icon icon-padnote"></i>Modules</a>
						</li> -->
						<li th:classappend="${pageName.equals('Forum')} ? 'active' : _ ">
							<a th:href="@{/forum/}"><i class="fa fa-users"></i>Forum</a>
						</li>
						
					</th:block>
				</th:block>
			</ul>
		</nav>
	</th:block>
	
	<!-- ======================== [ URL Fragment ] ======================== -->
	<th:block th:fragment="urlFragment" th:with="groupName=${groupName}, urlPath=${urlPath}, urlDesc=${urlDesc}">
		<a th:href="@{|/${groupName}/${urlPath}|}">[[${#strings.replace(urlDesc, '-', ' ')}]]</a> <!-- /web/${groupName}/${urlPath} -->
	</th:block>
	
	<!-- ======================== [ Page Header Fragment ] ======================== -->
	<th:block th:fragment="pageHeader">
		<header class="page-header">
			<div class="container-fluid">
				<h6 class="mb-0" th:text="${pageName} ? ${pageName} : 'undefined page'"></h6>
			</div>
		</header>
	</th:block>
	
	<!-- ======================== [ Breadcrumb Fragment ] ======================== -->
	<th:block th:fragment="breadcrumb">
		<div class="breadcrumb-holder container-fluid">
			<ul class="breadcrumb">
				<th:block th:if="${pageName} == null and ${groupName} == null">
					<li th:class="breadcrumb-item"><a th:href="@{/home}">Home</a></li> <!--@{/web/home}-->
					<li th:class="breadcrumb-item">undefined group</li>
					<li class="breadcrumb-item active">undefined page</li>
				</th:block>
				<th:block th:unless="${pageName} == null and ${groupName} == null">
					<li th:class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
					<li th:class="breadcrumb-item" th:text="${groupName} ? ${groupName} : 'undefined group'"></li>
					<li class="breadcrumb-item active" th:text="${pageName} ? ${pageName} : 'undefined page'"></li>
				</th:block>
			</ul>
		</div>
	</th:block>
	

</html>